@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

.box{
    background-color: rgb(153, 131, 202);
}
.heading{
    text-align: center;
    padding: 10px 0;
    /* background-color: crimson; */
    font-family: 'Open Sans', sans-serif;
}
.item{
    margin: 8px 3px 8px 0;
}